<div class="flex flex-row items-center w-full h-14 bg-blue-500 text-white px-3 justify-between">
    <h1>Admin Panel</h1>

    <div class="flex items-center gap-x-4">
        <button class="bg-blue-600 hover:bg-blue-700 p-2 rounded-md duration-200 ease-in-out" type="button" (click)="navigateHome()">Home</button>

        <button class="bg-green-500 hover:bg-green-600 p-2 rounded-md duration-200 ease-in-out" type="button" (click)="navigateNewStudentForm()">Add New Student</button>

        <button class="bg-red-500 hover:bg-red-600 p-2 rounded-md duration-200 ease-in-out" type="button" (click)="logout()">Logout</button>
    </div>
</div>